#content {

}

a {
	text-decoration: none;
}

.btn {

}
.btn a {
	display: inline-block;
	margin: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	padding: 5px;
}

.panel {
	
}